@media only screen and (max-width:1169px)
{
	.container
	{
		width:96%;
	}
	.nav-menu.right li 
	{
		margin-right: 28px;
	}
	.nav-menu.right li:after 
	{
		right: -17px;
	}
	.about-content 
	{
		width: 47%;
	}
	.flower-img 
	{
		max-width: 535px;
		width:100%;
	}
	.service-1 
	{
		top: 34px;
	}
	.service-2 
	{
		left: 368px;
		top: 166px;
	}
	.service-3 
	{
		left: 230px;
		top: 380px;
	}
	.service-4 
	{
		left: -217px;
		top: 380px;
	}
	.service-5 
	{
		left: -360px;
		top: 167px;
	}
	.policy 
	{
		position: relative;
		background-size:cover;
	}
	.policy:before 
	{
		background:rgba(243, 244, 246, 0.698);
		content: "";
		height: 100%;
		position: absolute;
		width: 100%;
		top:0;
	}
	.form-top > input 
	{
		margin-right: 1.4%;
	}
	.subscribe 
	{
		margin-left: 20px;
		margin-right:0;
		width: 29.8%;
	}
	.contact-info 
	{
		width: 30%;
	}
	.only-device > p, 
	.stock > p, 
	.around > p 
	{
		font-size: 14px;
	}
	.price-rs 
	{
		height: 90px;
		top: -45px;
		width: 90px;
	}
	.price-rs > p 
	{
		font-size: 20px;
	}
	.top-bg 
	{
		padding: 33px 0;
	}
	.about-img 
	{
		width: 50%;
	}
	.banner-caption 
	{
		width: 92%;
	}
	.nav-menu .header-menu li a 
	{
		font-size: 14px;
	}
	.navigation 
	{
		width: 18%;
	}
	.field input[type="email"] 
	{
		width: 74%;
	}
	.sect-title.left-title 
	{
		position: relative;
	}
}
@media only screen and (max-width:767px)
{
	.nav-menu 
	{
		display: none;
	}
	.responsive-menu 
	{
		background:#7eba00;
		margin-top: 20px;
		padding: 20px 0;
		position: relative;
	}
	.menu {
  color: #333333;
  cursor: pointer;
  display: block;
  font-family: 'Lato',sans-serif;
  font-size: 22px;
  line-height: 31px;
  position: absolute;
  right: 10px;
  top:12px;
}
	.side-menu {
	  background: #333333;
	  display: block;
	  height: 100%;
	  left: 0;
	  overflow: hidden;
	  padding: 0;
	  position: fixed;
	  top: 0;
	  transition: all 0.1s ease 0s !important;
	  width: 225px;
	  z-index: -1;
	}
	.show-menu #wrapper 
	{
		transform: translateX(225px);
	}
	.side-menu ul li a 
	{
		background:#0099bb;
		border-bottom: 1px dotted #fff;
		color: #fff;
		display: block;
		padding: 12px;
		position: relative;
		z-index:9999;
		text-align:center;
	}
	.side-menu ul li a:before 
	{
	  background: #000;
	  bottom: 0;
	  content: "";
	  height: 100%;
	  left: 0;
	  margin: auto;
	  position: absolute;
	  right: 0;
	  top: 0;
	  transform: scale(0);
	  width: 100%;
	  z-index: 1;
	}
	.side-menu ul li a:hover:before 
	{
	  transform: scale(1);
	  transition: all 0.5s ease 0s;
	  z-index: -1;
	}
	.close-button i 
	{
	  color: #0099bb;
	  font-size: 44px;
	  font-weight: normal;
	  text-align: right;
	}
	.close-button 
	{
	  text-align: right;
	  margin-right: 10px;
	  margin-bottom: 10px;
	}
	.close-button i:hover 
	{
	  color: #7EBA00;
	  cursor:pointer;
	}
	.menu .menu-trigger {
  float: none;
  margin: 0;
}
body.show-menu {
  overflow: hidden;
}
.banner-caption p {
  font-size: 25px;
  
}
.about-content {
  width: 100%;
  float: none;
  margin-bottom: 20px;
}
.about-content p {
  font-size: 14px;
  line-height: 140%;
  
}
.about-img {
  width: 100%;
  float: none;
}
.round {
  display: none;
}
.service-block {
  position: relative;
}
.service-2 {
  left: 0;
  top: 60px;
}
.service-3 {
  left: 0;
  top: 90px;
}
.service-4 {
  left: 0;
  top: 120px;
  
}
.service-5 {
  left: 0;
  top: 150px;
}
.our-services {
  
  padding: 70px 0 200px;
}
.policy:before {
  display: none;
}
.policy-content {
  width: 100%;
}
.policy {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.price-table-1 {
  float: none;
  margin-right: 0;
  
  width: 100%;
 
}
.price-table-1:nth-child(4) {
  margin-right: 0;
  margin-bottom: 0;
}
.form-top > input {
  width: 100%;
  margin-bottom: 10px;
}
.form-top {
  margin-bottom: 0;
}
.f-section {
  float: none;
  margin-bottom: 20px;
}
.navigation {
  
  width: 100%;
}
.contact-info {
  width: 100%;
}
.subscribe {
  margin-left: 0;
  width:100%
}
.social {
  float: none;
  width: 100%;
}
.footer p, .footer a {
  line-height: 20px;
}
.footer {

  padding: 15px 0;
  
}
.footer .container {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.service-block {
  
  width: 100%;
}
.right-menu ul li, .right-menu ul li a 
{
  font-family: ProximaNova Lt;
  font-size: 13px;
  line-height: 23px;
  margin-left: 0;
  position: relative;
  font-weight:bold;
}
.left-logo {
  margin-top: 0;
  text-align: center;
  width: 100%;
}
.slide {
  height: 200px;
  
}
.banner-caption {
  
  height: auto;
  
  width: 100%;
}
.header-mail a:before, .header-phone:before {
  margin-right: 5px;
}
.header-mail {
  margin-right: 14px;
}
header {
  padding-top: 50px;
  
}
.error_img > p {
 
  font-size: 11em;

}
.error_text h3 {
  font-size: 23px;
  
}
.error {
  margin-top: 30px;
}
.header-wrapper {
  position: relative;
  
}
header {
  padding-top: 0;
}
#main-header-logo > a {
  width: 26%;
}
.header.logo.stick 
{
  background: #fff;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2147483647;
  padding: 5px 5px 10px 5px ;
}
.header.logo.stick .menu {
  top: 22px;
}
.btn-sub {
  top: -8px;
}
.footer .container {
  border-top:0;
}
body.scrollToTop_animating, body.scrollToTop_animating * {
  pointer-events: auto !important;
}
.social a {
  display: block;
}
.owl-controls {
  display: none;
}
.header-phone.new-phone {
  float: right;
}
.footer p, .footer a {
  font-size: 11px;
  
}
}
